#define configMAX_PRIORITIES    2

#define __SPECIFIED_TASK_LISTS_SIZE__ \
    TYPEDEF_List_t(LIST_SIZE2); \
    TYPEDEF_List_t(LIST_SIZE3); \
    TYPEDEF_List_t_WITH_PXINDEX(LIST_SIZE5);

#define QLIST_SIZE  LIST_SIZE3  /* Size of the Queue lists */
#define RLIST_SIZE  LIST_SIZE5  /* Size of pxReadyTasksLists */
#define DLIST_SIZE  LIST_SIZE3  /* Size of pxDelayedTaskList */
#define PLIST_SIZE  LIST_SIZE2  /* Size of xPendingReadyList */
#define SLIST_SIZE  LIST_SIZE3  /* Size of xSuspendedTaskList */

#define QList_t List3_t
#define RList_t List5_pxIndex_t
#define DList_t List3_t
#define PList_t List2_t
#define SList_t List3_t
